.uv-planetlist-fields { white-space: nowrap; position: absolute; top: 37px; left: 43px; font-size: 10px; background-color: #171d23; border-radius: 3px; padding: 2px; }

/*
#rechts .smallplanet a.constructionIcon.uv-planetlist-construction, 
#rechts #myPlanets .smallplanet a.constructionIcon.uv-planetlist-construction { top: 23px; font-size: 10px; }
#rechts #myPlanets .smallplanet a.constructionIcon.uv-planetlist-construction { left: 110px; }
*/