<div id="uv-menu-wrapper">
	<div id="uv-menu-background"></div>
	<div id="UvContent">
		<div id="uv-menu-close"></div>
		<h1>UniverseView - <span id="UVvVersion" title="3.0.2">${$__.version}</span></h1>
		<div id="UvHelpButtons">
			<div><a target="_blank" href="https://universeview.be/${$__.uvw_locale}"><button type="button" class="UvHelpButton">${$__.menu_home}</button></a></div>
			<div><a target="_blank" href="https://universeview.be/${$__.uvw_locale}#features" ><button type="button" class="UvHelpButton">${$__.menu_features}</button></a></div>
			<div><a target="_blank" href="https://board.en.ogame.gameforge.com/index.php?thread/716794-universeview/"><button type="button" class="UvHelpButton">${$__.menu_translation}</button></a></div>
			<div><a target="_blank" href="https://board.en.ogame.gameforge.com/index.php?thread/716794-universeview/"><button type="button" class="UvHelpButton">${$__.menu_org}</button></a></div>
			<div><a target="_blank" href="https://www.facebook.com/UniverseView"><button type="button" class="UvHelpButton">${$__.menu_fb}</button></a></div>
		</div>
		<h2>Donate</h2>
		<div class="uv-menu-donate">
			<div>
				<span>Crypto</span>
				<div class="donate-cr">
					<span class="donate-cr-icon"></span>
					<div class="donate-cr-table">
						<div>Network</div>
						<div>Address</div>
						<div>Bitcoin</div>
						<div>1MqDBL1JEjLLzLrbHFBxWZ396MMRFnRqrn</div>
						<div>Ethereum</div>
						<div>0x469B5C983A3AcF32Acee4e10B18Ae0454671Dbb2</div>
						<div>Binance Smart Chain</div>
						<div>0x469B5C983A3AcF32Acee4e10B18Ae0454671Dbb2</div>
						<div>LiteCoin</div>
						<div>ltc1qa93gkh3ff9gfp3yguufxdq46tgep5e6n9wh4pj</div>
						<div>Tron</div>
						<div>TFBpNJM5tEaCv6nKeTNk2JASPEnVFMkvdv</div>
						<div>Solano</div>
						<div>GjM7EVTHFTiAG9UGY8SNYw8HkiYrK645MieS922XMtcq</div>
						<div>Avax (c-chain)</div>
						<div>0x469B5C983A3AcF32Acee4e10B18Ae0454671Dbb2</div>
						<div>Polkadot</div>
						<div>14zCTvJXXaq3xQSMG7wjLw3Yv5wcWvMbDA3KPH8A7GcUZpto</div>
						<div>Polygon</div>
						<div>0x469B5C983A3AcF32Acee4e10B18Ae0454671Dbb2</div>
						<div>Harmony</div>
						<div>one1jf6y0r2amjautnw7f8nt3fp3eydervk965zxxr</div>
					</div>
				</div>
			</div>
			<div>
				<span>PayPal</span>
				<div><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" id="paypal">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="JELUS4KLSAADW">
					<input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online.">
					<img alt="" border="0" src="https://www.paypalobjects.com/nl_NL/i/scr/pixel.gif" width="1" height="1">
				</form></div>
			</div>
		</div>
		<h2>${$__.menu_features}</h2>
		<div>
			<ul id="UvFeatureMenu">
				<li>
					<h3>${$__.menu_featuresCategoryGeneric}</h3>
					<ul class="uv-feature-category">
						<li id="UvFQuickSearch" data-feature="quickSearch"><div class="UvFeatureButton"></div><p>${$__.menu_quicksearchF}</p></li>
						<li id="UvFSpreading" data-feature="spreading"><div class="UvFeatureButton"></div><p>${$__.menu_spreadingF}</p></li>
						<li id="UvFFavourites" data-feature="favourites"><div class="UvFeatureButton"></div><p>${$__.menu_favouriteF}</p></li>
						<li id="UvFPlanetFields" data-feature="planetFields"><div class="UvFeatureButton"></div><p>${$__.menu_planetfieldsF}</p></li>
					</ul>
				</li>
				<li>
					<h3>${$__.menu_featuresCategoryGalaxy}</h3>
					<ul class="uv-feature-category">
						<li id="UvFPlanets" data-feature="showPlanets"><div class="UvFeatureButton"></div><p>${$__.menu_planetF}</p> </li>
						<li id="UvFMilitairy" data-feature="militairy"><div class="UvFeatureButton"></div><p>${$__.menu_militairyF}</p></li>
						<li id="UvFResearch" data-feature="research"><div class="UvFeatureButton"></div><p>${$__.menu_researchF}</p></li>
						<li id="UvFGalaxyRefresh" data-feature="galaxyRefresh"><div class="UvFeatureButton"></div><p>${$__.menu_refreshF}</p></li>
						<li id="UvFGalaxyRank" data-feature="galaxyRank"><div class="UvFeatureButton"></div><p>${$__.menu_galaxyRankF}</p></li>
						<li id="UvFGalaxyDebris" data-feature="galaxyDebris"><div class="UvFeatureButton"></div><p>${$__.menu_galaxyDebrisF}</p></li>
						<li id="UvFMoonDestruct" data-feature="moonDestruction"><div class="UvFeatureButton"></div><p>${$__.menu_moondestructF}</p></li>
					</ul>
				</li>
				<li>
					<h3>${$__.menu_featuresCategoryOther}</h3>
					<ul class="uv-feature-category">
						<li id="UvFHighScore" data-feature="highScore"><div class="UvFeatureButton"></div><p>${$__.menu_highscoreF}</p></li>
						<li id="UvFFleetPage" data-feature="fleetPage"><div class="UvFeatureButton"></div><p>${$__.menu_fleetpageF}</p></li>
						<li id="UvFMessagesRaid" data-feature="messagesRaid">
							<div class="UvFeatureButton"></div><p>${$__.menu_messagesraidF}</p>
							<div class="uv-feature-extra">
								<p class="uv-feature-extra-info">${$__.menu_mr_menu_info}</p>
								<ul class="feature-option-list">
									<li>
										<div class="feature-option-label">${$__.ship_202}</div>
										<div class="feature-option-widget"><input type="number" min="0" value="5" class="feature-option-number" data-default="5" data-option="espionageRaid.202" /></div>
									</li>
									<li>
										<div class="feature-option-label">${$__.ship_203}</div>
										<div class="feature-option-widget"><input type="number" min="0" value="1" class="feature-option-number" data-default="1" data-option="espionageRaid.203" /></div>
									</li>
									<li>
										<div class="feature-option-label">${$__.ship_218}</div>
										<div class="feature-option-widget"><input type="number" min="0" value="2" class="feature-option-number" data-default="2" data-option="espionageRaid.218" /></div>
									</li>
									<li>
										<div class="feature-option-label">${$__.ship_219}</div>
										<div class="feature-option-widget"><input type="number" min="0" value="2" class="feature-option-number" data-default="2" data-option="espionageRaid.219" /></div>
									</li>
								</ul>
							</div>
						</li>
						<li id="UvFEventNotification" data-feature="eventNotification">
							<div class="UvFeatureButton"></div><p>${$__.menu_eventnotification}</p>
							<div class="uv-feature-extra">
								<p class="uv-feature-extra-info">${$__.menu_en_menu_info}</p>
								<ul class="feature-option-list">
									<li>
										<div class="feature-option-label">${$__.menu_en_menu_pc_time}</div>
										<div class="feature-option-widget"><div class="feature-option-state-btn" data-option="eventNotification.useComputerTime"></div></div>
									</li>
								</ul>
								<table id="en-table" class="feature-option-table">
									<thead>
									<tr>
										<td></td>
										<th><div class="en-icon-mission en-icon-mission-15" title="${$__.mission_15}"></div></th>
										<th><div class="en-icon-mission en-icon-mission-7" title="${$__.mission_7}"></div></th>
										<th><div class="en-icon-mission en-icon-mission-8" title="${$__.mission_8}"></div></th>
										<th><div class="en-icon-mission en-icon-mission-3" title="${$__.mission_3}"></div></th>
										<th><div class="en-icon-mission en-icon-mission-4" title="${$__.mission_4}"></div></th>
										<th><div class="en-icon-mission en-icon-mission-6" title="${$__.mission_6}"></div></th>
										<th><div class="en-icon-mission en-icon-mission-5" title="${$__.mission_5}"></div></th>
										<th><div class="en-icon-mission en-icon-mission-1" title="${$__.mission_1}"></div></th>
										<th><div class="en-icon-mission en-icon-mission-2" title="${$__.mission_2}"></div></th>
										<th><div class="en-icon-mission en-icon-mission-9" title="${$__.mission_9}"></div></th>
									</tr>
									</thead>
									<tbody>
									<tr data-mission-category="ownArriving">
										<td><span class="uv-tipped-info" title="${$__.menu_en_menu_own_arriving_info}">${$__.menu_en_menu_own_arriving}</span></td>
										<td><div class="feature-option-state-btn" data-option="eventNotification.ownArriving.15"></div></td>
										<td><div class="feature-option-state-btn" data-option="eventNotification.ownArriving.7"></div></td>
										<td><div class="feature-option-state-btn" data-option="eventNotification.ownArriving.8"></div></td>
										<td><div class="feature-option-state-btn" data-option="eventNotification.ownArriving.3"></div></td>
										<td><div class="feature-option-state-btn" data-option="eventNotification.ownArriving.4"></div></td>
										<td><div class="feature-option-state-btn" data-option="eventNotification.ownArriving.6"></div></td>
										<td><div class="feature-option-state-btn" data-option="eventNotification.ownArriving.5"></div></td>
										<td><div class="feature-option-state-btn" data-option="eventNotification.ownArriving.1"></div></td>
										<td><div class="feature-option-state-btn" data-option="eventNotification.ownArriving.2"></div></td>
										<td><div class="feature-option-state-btn" data-option="eventNotification.ownArriving.9"></div></td>
									</tr>
									<tr data-mission-category="ownReturning">
										<td><span class="uv-tipped-info" title="${$__.menu_en_menu_own_returning_info}">${$__.menu_en_menu_own_returning}</span></td>
										<td><div class="feature-option-state-btn" data-option="eventNotification.ownReturning.15"></div></td>
										<td><div class="feature-option-state-btn" data-option="eventNotification.ownReturning.7"></div></td>
										<td><div class="feature-option-state-btn" data-option="eventNotification.ownReturning.8"></div></td>
										<td><div class="feature-option-state-btn" data-option="eventNotification.ownReturning.3"></div></td>
										<td><div class="feature-option-state-btn" data-option="eventNotification.ownReturning.4"></div></td>
										<td><div class="feature-option-state-btn" data-option="eventNotification.ownReturning.6"></div></td>
										<td><div class="feature-option-state-btn" data-option="eventNotification.ownReturning.5"></div></td>
										<td><div class="feature-option-state-btn" data-option="eventNotification.ownReturning.1"></div></td>
										<td><div class="feature-option-state-btn" data-option="eventNotification.ownReturning.2"></div></td>
										<td><div class="feature-option-state-btn" data-option="eventNotification.ownReturning.9"></div></td>
									</tr>
									<tr>
										<td><span class="uv-tipped-info" title="${$__.menu_en_menu_notification_offset_info}">${$__.menu_en_menu_notification_offset}</span></td>
										<td><input type="number" min="0" value="60" class="feature-option-number" data-default="60" data-option="eventNotification.notificationOffset.15" /></td>
										<td><input type="number" min="0" value="60" class="feature-option-number" data-default="60" data-option="eventNotification.notificationOffset.7" /></td>
										<td><input type="number" min="0" value="60" class="feature-option-number" data-default="60" data-option="eventNotification.notificationOffset.8" /></td>
										<td><input type="number" min="0" value="60" class="feature-option-number" data-default="60" data-option="eventNotification.notificationOffset.3" /></td>
										<td><input type="number" min="0" value="60" class="feature-option-number" data-default="60" data-option="eventNotification.notificationOffset.4" /></td>
										<td><input type="number" min="0" value="60" class="feature-option-number" data-default="60" data-option="eventNotification.notificationOffset.6" /></td>
										<td><input type="number" min="0" value="60" class="feature-option-number" data-default="60" data-option="eventNotification.notificationOffset.5" /></td>
										<td><input type="number" min="0" value="60" class="feature-option-number" data-default="60" data-option="eventNotification.notificationOffset.1" /></td>
										<td><input type="number" min="0" value="60" class="feature-option-number" data-default="60" data-option="eventNotification.notificationOffset.2" /></td>
										<td><input type="number" min="0" value="60" class="feature-option-number" data-default="60" data-option="eventNotification.notificationOffset.9" /></td>
									</tr>
									</tbody>
								</table>
							</div>
						</li>
						<li id="UvFIdleTimer" data-feature="idleTimer">
							<div class="UvFeatureButton"></div><p>${$__.menu_idletimer}</p>
							<div class="uv-feature-extra">
								<p class="uv-feature-extra-info">${$__.menu_it_menu_info}</p>
								<ul class="feature-option-list">
									<li>
										<div class="feature-option-label">${$__.menu_it_menu_show_seconds}</div>
										<div class="feature-option-widget"><div class="feature-option-state-btn" data-option="idleTimer.showSeconds"></div></div>
									</li>
									<li>
										<div class="feature-option-label">${$__.menu_it_menu_expiration_time}</div>
										<div class="feature-option-widget"><input type="number" min="0" value="90" class="feature-option-number" data-default="90" data-option="idleTimer.expirationTime" /></div>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<h2>${$__.menu_extra}</h2>
		<div>
			<ul id="UvExtraMenu">
				<li><button type="button" id="UvClearLocalStorage" class="UvExtraButton">${$__.menu_clear}</button><p>${$__.menu_removeLocalS}</p> </li>
			</ul>
		</div>
		<div class="c-left"></div>
		<div class="c-right"></div>
	</div>
</div>