<div id="uv_md" data-moonsize="0" class="uv-element">
	<ul>
		<li>
			<div>${$__.coords}</div>
			<div id="uv_md_co"></div>
		</li>
		<li>
			<div>${$__.moonsize}</div>
			<div id="uv_md_size"></div>
		</li>
		<li>
			<div><label>${$__.rips}</label></div>
			<div><input class="textInput" id="uv_md_input" type="search"/></div>
		</li>
		<li>
			<div>${$__.popchance}</div>
			<div id="uv_md_moon"></div>
		</li>
		<li>
			<div>${$__.ripchance}</div>
			<div id="uv_md_rips"></div>
		</li>
	</ul>
	<div id="uv_md_start">${$__.destroy}</div>
</div>