<div id="uv_quicksearch" class="uv-element">
	<div id="UvQsP" class="uv_q_img"></div>
	<div id="UvQsA" class="uv_q_img"></div>
	<input id="uv_q_input" class="textInput" type="search">
	<div id="uv_q_result" class="uv-hide">
		<div id="uv-q-connect">
			<span class="btn-del">&nbsp;</span>
		</div>
		<div id="uv-q-box" class="clearfix">
			<ul id="uv-q-box-first">
				<li>${$__.search}</li>
				<li>${$__.condition}</li>
			</ul>
			<ul id="uv-q-box-second"></ul>
			<ul id="uv-q-box-third"></ul>
		</div>
	</div>
</div>